@charset "UTF-8";
.font01{
  font-family: 'Noto Sans JP', sans-serif;
}

html {
  font-size: 80%;
}
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #000000;
}
a {
  text-decoration: none;
}
img {
  max-width: 70%;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 24px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover {
  color: #90EE90;
}

.page-header {
  display: flex;
  margin-right: auto;
}

.wrapper {
  // max-width: 1100px;
  padding: 0 4%;
}
/* HOME
------------------------------- */
.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}
/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home {
  background-image: image-url('mountain.png');
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}

.title {
  font-size: 3vh;
  line-height: 1.4;
  font-weight: bold;
}

.view-contents{
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.view-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul {
  list-style: none;
}
.view-img {
  width: 30vh;
  height: 30vh;
}

* {
  box-sizing: border-box;
}
.view-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #DCDCDC;
}