@charset "UTF-8";
.font01{
  font-family: 'Gill Sans', sans-serif;
}

.top-content {
  font-family: 'Gill Sans', sans-serif;
  font-size: 30px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

.new-user {
  font-size: 15px;
  display: flex;
  margin: 20px 100px 10px 0px;
}

h2, label, em{
  font-size: 14px;
}

.actions {
  margin-top: 10px;
  font-size: 15px;
}
.big-bg {
  background-image: image-url('load.png');
  min-height: 100vh;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}