@charset "UTF-8";
.font01{
  font-family: 'Gill Sans', sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  padding:100px 0 0 0 ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}
.form {
  display: flex;
  justify-content: center;
  height: 30px;
}
.big-bg {
  background-image: image-url('load.png');
  min-height: 100vh;
}
.user_email {
  height: 30px;
}